<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yotamg.dbfsexplorer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>265200B0-75D9-400A-BDD3-09E871C39D96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77262847-49E4-4E99-B270-C36C0DD04C14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C9E8D70-5024-4D00-8617-2B8CF5CEC0EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB707832-76E8-4C0B-A676-AAD770D7DC0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EF71A9E-3F32-444A-B920-081420A59E30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77262847-49E4-4E99-B270-C36C0DD04C14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B5A31F9-9548-4780-BAE9-13449A85384F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F72166B9-ADAC-4B8C-BD4F-47EC80A96B94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89227FC1-27BA-464E-A0AE-5A1113BE414B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>265200B0-75D9-400A-BDD3-09E871C39D96</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Return to DBFS Root</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EF71A9E-3F32-444A-B920-081420A59E30</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Change directory to personal folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED332D8F-520B-4519-A1BE-2F4A618A699E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB707832-76E8-4C0B-A676-AAD770D7DC0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A47548B6-1A2B-4BA9-8BAC-6FC7E5F9A010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED332D8F-520B-4519-A1BE-2F4A618A699E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77262847-49E4-4E99-B270-C36C0DD04C14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3D2CF35F-7512-44F9-A118-8A61AB2B7D43</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C9E8D70-5024-4D00-8617-2B8CF5CEC0EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F72166B9-ADAC-4B8C-BD4F-47EC80A96B94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89227FC1-27BA-464E-A0AE-5A1113BE414B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yotamg</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DBFS Explorer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>265200B0-75D9-400A-BDD3-09E871C39D96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>*dir</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>77262847-49E4-4E99-B270-C36C0DD04C14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dbfs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>---</string>
				<key>script</key>
				<string>/Users/yotamg/opt/anaconda3/envs/pywiliot_internal/bin/python script.py -p $dbfspath
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>script.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>dbfs</string>
				<key>title</key>
				<string>DBFS</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89227FC1-27BA-464E-A0AE-5A1113BE414B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>*dir</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7B5A31F9-9548-4780-BAE9-13449A85384F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:personal_folder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4EF71A9E-3F32-444A-B920-081420A59E30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>dbfspath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F72166B9-ADAC-4B8C-BD4F-47EC80A96B94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\/$</string>
						<key>outputlabel</key>
						<string>dir</string>
						<key>uid</key>
						<string>3D2CF35F-7512-44F9-A118-8A61AB2B7D43</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>file</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ED332D8F-520B-4519-A1BE-2F4A618A699E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/Users/yotamg/opt/anaconda3/envs/pywiliot_internal/bin/python script.py -f {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB707832-76E8-4C0B-A676-AAD770D7DC0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Starting Download...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4C9E8D70-5024-4D00-8617-2B8CF5CEC0EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>A47548B6-1A2B-4BA9-8BAC-6FC7E5F9A010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>265200B0-75D9-400A-BDD3-09E871C39D96</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4C9E8D70-5024-4D00-8617-2B8CF5CEC0EF</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>4EF71A9E-3F32-444A-B920-081420A59E30</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>77262847-49E4-4E99-B270-C36C0DD04C14</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>7B5A31F9-9548-4780-BAE9-13449A85384F</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>89227FC1-27BA-464E-A0AE-5A1113BE414B</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>A47548B6-1A2B-4BA9-8BAC-6FC7E5F9A010</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>BB707832-76E8-4C0B-A676-AAD770D7DC0A</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>ED332D8F-520B-4519-A1BE-2F4A618A699E</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F72166B9-ADAC-4B8C-BD4F-47EC80A96B94</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Personal favorite folder for quick access in databricks (path must start with dbfs:/)</string>
			<key>label</key>
			<string>Personal Folder</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>personal_folder</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DATABRICKS_HOST</key>
		<string>***</string>
		<key>DATABRICKS_TOKEN</key>
		<string>***</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DATABRICKS_HOST</string>
		<string>DATABRICKS_TOKEN</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
